<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="GamaCooperacionMySql" connectionString="SERVER=localhost;DATABASE=gama;UID=gama;password=secret;" providerName="MySql.Data.MySqlClient"/>
    <add name="GamaAtencionesMySql" connectionString="SERVER=80.59.101.181;DATABASE=gama_atenciones;UID=gama;password=secret;" providerName="MySql.Data.MySqlClient"/>
    <add name="GamaSociosMySql" connectionString="SERVER=localhost;DATABASE=gama_socios;UID=gama;password=secret;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
