<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="GamaMySql" connectionString="SERVER=localhost;DATABASE=gama;UID=gama;password=secret;" providerName="MySql.Data.MySqlClient" />
    <add name="GamaAtencionesMySql" connectionString="SERVER=localhost;DATABASE=gama_atenciones;UID=gama;password=secret;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LiveCharts" publicKeyToken="c5935629d38af058" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.7.15.0" newVersion="0.7.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>